<div class='col-xs-12'>
  <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |f|%>
  <div class= "form-group">
    <label>Status</label><br>
    <%= f.text_field :status, value:"Confirm", class: "form-control", autofocus: true %>
  </div>

  <%= f.submit class:'btn btn-primary btn-lg'%>
</div>
<% end %>
</div>
