
<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Gallery Without Grid</h1>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-bottom">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Gallery Without Grid</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Share</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start project without-grid area--> 
<section class="project-withoutgrid-area">
    <div class="container">
        <ul class="project-filter post-filter text-center">
            <li class="active" data-filter=".filter-item"><span>Show All</span></li>
            <li data-filter=".massage"><span>Massage</span></li>
            <li data-filter=".face-peeling"><span>Face Peeling</span></li>
            <li data-filter=".ayurvedic"><span>Ayurvedic</span></li>
            <li data-filter=".healthy-food"><span>Healthy Food</span></li>
        </ul>
        <div class="row project-content masonary-layout filter-layout mar0">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item face-peeling massage">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item healthy-food ayurvedic">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item ayurvedic massage">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item massage ayurvedic">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-4.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item ayurvedic massage healthy-food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-5.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item massage face-peeling">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-6.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item ayurvedic">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-7.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item massage ayurvedic healthy-food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-8.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Happy Young Family</a>
                                    <span class="border"></span>
                                    <p>Healthy Food</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 pd0 filter-item face-peeling">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/projects/gallery-without-grid-9.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html">Reduce Your Stress</a>
                                    <span class="border"></span>
                                    <p>Stone Massage</p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div>
        <div class="row">
            <div class="col-md-12"> 
                <ul class="post-pagination text-center">
                    <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                </ul>
            </div> 
        </div>
    </div>
</section>                            
<!--End project without-grid area--> 
