<!--Start rev slider wrapper-->     
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="random">
                <img src="assets/slides/1.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption  tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="190" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box mar-lft">
                        <h2>Welcome to Life Care</h2>
                    </div>
                </div>
                <div class="tp-caption  tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="240" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1500">
                    <div class="slide-content-box mar-lft">
                        <h1>Give you unique<br>relaxation experience</h1>
                    </div>
                </div>
                <div class="tp-caption  tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="395" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2000">
                    <div class="slide-content-box mar-lft">
                        <p>Life Care is an Elegant, good looking Beauty Spa Website. With the help of <br>shortcodes you can create a website.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="480" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2900">
                    <div class="slide-content-box mar-lft">
                        <div class="button">
                            <a class="thm-btn bgclr-1" href="#">Know More</a>       
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="left" data-hoffset="200" 
                    data-y="top" data-voffset="480" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2900">
                    <div class="slide-content-box mar-lft">
                        <div class="button">  
                            <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>     
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="random">
                <img src="assets/slides/2.jpg" alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption tp-resizeme slogan"
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="-120" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"  
                    data-start="500">
                    <div class="slide-content-box middle-slide">
                        <h2>Referesh, Renew, Rejuvenate...</h2>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="-55" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="1500">
                    <div class="slide-content-box middle-slide">
                        <h1>Get a therapy of your choice</h1>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="25" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2500">
                    <div class="slide-content-box middle-slide">
                        <p>Life Care is an Elegant, good looking Beauty Spa Website. With the help<br> of shortcodes you can create a website.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="110" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2300">
                    <div class="slide-content-box middle-slide">
                        <div class="button">
                            <a class="thm-btn bgclr-1" href="#">Know More</a>   
                            <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>      
                        </div>    
                    </div>
                </div>
            </li>
            <li data-transition="random">
                <img src="assets/slides/3.jpg"  alt="" width="1920" height="600" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >
                
                <div class="tp-caption  tp-resizeme" 
                    data-x="right" data-hoffset="0" 
                    data-y="top" data-voffset="195" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box lastslide">
                        <h2>Welcome to Life Care</h2>
                        <h1>Experience the<br>secrets of relaxation</h1>
                        <p>Life Care is an Elegant, good looking Beauty Spa Website. With<br>the help of shortcodes you can create a website.</p>
                        <div class="button">
                            <a class="thm-btn bgclr-1" href="#">Our Solutions</a> 
                            <a class="thm-btn bgclr-1 contact" href="#">Contact Us</a>      
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->

<!--Start welcome area-->
<section class="welcome-area">
    <div class="container">
        <div class="sec-title">
            <h1>Welcome to Life Care</h1>
            <div class="border">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="text-holder">
                    <h4>Life Care is an Elegant, good looking beauty spa website. With the help of shortcodes you can create a website.</h4>
                    <div class="inner-content">
                        <!--Start single item-->
                        <div class="single-item">
                            <h3>Our Mission</h3>
                            <p>Explain to you how all this mistaken idea of denouncing ut pleasure work praising pain was born and will give.</p>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="single-item border">
                            <h3>Our Vision</h3>
                            <p>Pleasure work praising pain ut was born and will give you can complete design account sed the system.</p>
                        </div>
                        <!--End single item-->
                    </div>
                    <div class="bottom">
                        <div class="read-more-button">
                            <a class="thm-btn bgclr-1" href="#">Read More</a>
                        </div>
                        <div class="title">
                            <h2>Need advice? <span><%= PHONE%></span></h2>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="img-holder wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <img src="assets/resources/welcome.jpg" alt="Awesome Image">    
                </div>   
            </div>     
        </div>
    </div>
</section>
<!--End welcome area-->
  
<!--Start Procedures area-->
<section class="procedures-area">
    <div class="arrow">
        <img src="assets/resources/arrow.png" alt="">
    </div>
    <div class="iconbox-left-top">
        <span class="flaticon-light"></span>    
    </div>
    <div class="iconbox-left-bottom">
        <span class="flaticon-flower"></span>    
    </div>
    <div class="iconbox-right-top">
        <span class="flaticon-nature"></span>    
    </div>
    <div class="iconbox-right-bottom">
        <span class="flaticon-left"></span>    
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h1>Our Procedures</h1>
            <div class="border mar0auto">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="assets/procedures/1.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <div class="icon-holder">
                                        <span class="flaticon-hands"></span>    
                                    </div>
                                </div>
                            </div>  
                        </div>    
                    </div>
                    <div class="text-holder text-center">
                        <div class="show-content">
                            <div class="iocn-holder">
                                <span class="flaticon-hands"></span>      
                            </div>
                            <h3>Hot Stone Massage</h3>
                        </div>
                        <div class="hover-content">
                            <h3>Hot Stone Massage</h3>
                            <span class="border"></span>
                            <p>Facials are the second most popular spa treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="assets/procedures/2.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <div class="icon-holder">
                                        <span class="flaticon-medical"></span>    
                                    </div>
                                </div>
                            </div>  
                        </div>    
                    </div>
                    <div class="text-holder text-center">
                        <div class="show-content">
                            <div class="iocn-holder">
                                <span class="flaticon-medical"></span>     
                            </div>
                            <h3>Hijama Treatment</h3>
                        </div>
                        <div class="hover-content">
                            <h3>Facial Treatment</h3>
                            <span class="border"></span>
                            <p>Hijama are the second most popular spa treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="assets/procedures/3.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <div class="icon-holder">
                                        <span class="flaticon-people"></span>  
                                    </div>
                                </div>
                            </div>  
                        </div>    
                    </div>
                    <div class="text-holder text-center">
                        <div class="show-content">
                            <div class="iocn-holder">
                                <span class="flaticon-people"></span>     
                            </div>
                            <h3>Reiki & Energy Healing</h3>
                        </div>
                        <div class="hover-content">
                            <h3>Reiki & Energy Healing</h3>
                            <span class="border"></span>
                            <p>Reiki & Energy Healing are the third most popular spa treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="img-holder">
                        <img src="assets/procedures/4.png" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <div class="icon-holder">
                                        <span class="flaticon-relax"></span>     
                                    </div>
                                </div>
                            </div>  
                        </div>    
                    </div>
                    <div class="text-holder text-center">
                        <div class="show-content">
                            <div class="iocn-holder">
                                <span class="flaticon-relax"></span>     
                            </div>
                            <h3>Meditation</h3>
                        </div>
                        <div class="hover-content">
                            <h3>Meditation</h3>
                            <span class="border"></span>
                            <p>Meditation are the forth most popular spa treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>  
<!--End Procedures area-->

<!--Start slogan area-->
<section class="slogan-area" style="background-image:url(assets/resources/slogan-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <h1>Treat Yourself for Rejuvenating Your Body & Soul</h1>
                    <p>Life Care is an Elegant, good looking Beauty Spa Website. With the help of shortcodes you can create a</p>
                    <p>website with Feature rich presentation.</p>
                    <a class="thm-btn bgclr-1" href="#">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>  
<!--End slogan area-->

<!--Start choosing area-->
<div class="choosing-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Why Choosing Us?</h1>
            <div class="border mar0auto">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="single-item bdr-btm">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-medical-1"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Mind Relaxing</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                    <li class="single-item bdr-btm">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-medical-2"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Healthy Life</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                    <li class="single-item bdr-btm">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-people-1"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Special Guides</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="single-item">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-nature-1"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Herbal & Natural</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                    <li class="single-item">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-hairdresser"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Well Care Therapists</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                    <li class="single-item">
                        <div class="iocn-holder">
                            <div class="inner-border">
                                <span class="flaticon-flower"></span>
                            </div>    
                        </div>
                        <div class="text-holder">
                            <h3>Effective Treatments</h3>
                            <p>Provides a professional dietary and nutrition consulting service aimed to helping you achieve.</p>    
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<!--End choosing area-->

<!--Start testimonial area-->
<section class="testimonial-area" style="background-image:url(assets/testimonial/testimonial-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sec-title pull-left">
                    <h1>Successful Stories</h1>
                    <div class="border">
                        <span class="flaticon-shape"></span>    
                    </div>
                </div>
                <div class="more-button pull-right">
                    <a href="#">More Stories</a>
                </div>
            </div>
        </div>
        <div class="row mar-top">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="assets/testimonial/1.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Life Care is outstanding!</h3>
                        <p>Great experience and a wonderful addition to our vacation. I get massages on a regular basis & it was my husbands first.</p>
                        <span class="border"></span>
                        <div class="name">
                            <h3>Findlay Davis</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="assets/testimonial/2.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Always a gentle and renewed.</h3>
                        <p>I was greeted at the reception desk with a big smile and friendly welcome. First impressions are important! Well done!</p>
                        <span class="border"></span>
                        <div class="name">
                            <h3>Linforde Iris</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-testimonial-item text-center">
                    <div class="img-holder">
                        <img src="assets/testimonial/3.png" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Comfortable and clean</h3>
                        <p>Life Care is fantastic. From entering into the Spa, the low lighting, the welcoming aroma, you already feel relaxed.</p>
                        <span class="border"></span>
                        <div class="name">
                            <h3>Marsh Harnel</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End testimonial area--> 

<!--Start appointment area-->
<section class="appointment-area">
    <div class="icon-holder leap">
        <img src="assets/icon/appointment-bg.png" alt="Icon">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h1>Make an appointment</h1>
            <div class="border mar0auto">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="appointment-box">
                    <div class="experince text-center">
                        <h3><span>Since 1991,</span> we provide best<br>service for our clients.</h3>
                        <div class="inner-content">
                            <span class="flaticon-laurel"></span>
                            <h1>26</h1>
                            <h3>Years of experince</h3>
                        </div>
                        <p>Must explain to you how all this mistaken denouncing pleasure & praising </p>    
                    </div> 
                    <div class="form">
                        <form id="appointment-form" name="appointment-form" action="inc/sendmail.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="form_name" value="" placeholder="Your Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <input type="email" name="form_email" value="" placeholder="Your Email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-box">
                                        <select class="selectmenu">
                                            <option selected="selected">Select Service</option>
                                            <option>Massage Therapy</option>
                                            <option>Facial Treatments</option>
                                            <option>Pedicure & Menicure</option>
                                            <option>Salt and Oil Bath</option>
                                            <option>Perfect Makeup</option>
                                            <option>Hair Treatments</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="form_message" placeholder="Your Message.." required=""></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="thm-btn bgclr-1" type="submit">submit</button>   
                                </div>
                            </div>
                        </form>  
                    </div>
                       
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="quick-contact">
                    <div class="title">
                        <h2>Contact Details</h2>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-location"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Address:</span> 121, Park Drive, Varick<br> Str New York, NY 10012, USA</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Phone:</span> (123) 0200 12345 &<br>1800-45-678-9012</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Email:</span> Mailus@dailySpanz.com</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder">
                                <h5><span>Email:</span> Weekdays: 9.00am to 18.00pm</h5>
                            </div>
                        </li>
                        
                    </ul>
                </div>    
            </div>
            
            
        </div>
    </div>
</section>
<!--End appointment area-->

<!--Start pricing plan area-->
<section class="pricing-plan-area" style="background-image:url(assets/resources/pricing-bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Our Pricing Plan</h1>
            <div class="border mar0auto">
                <span class="flaticon-shape"></span>    
            </div>
        </div>
        <div class="row">
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>$</span>49<b>/Mo</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3>Family Pack</h3>
                        </div>
                        <ul>
                            <li>Nail Cutting and styling</li>
                            <li>Spa Therapy with manicure</li>
                            <li>Foot massage</li>
                            <li>Hair Coloring & Styling</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="thm-btn" href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>$</span>79<b>/Mo</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3>Premium Pack</h3>
                        </div>
                        <ul>
                            <li>Spa Therapy with manicure</li>
                            <li>Foot massage</li>
                            <li>Hair Coloring & Styling</li>
                            <li>Body Hand and Foot massage</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="thm-btn" href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->
            <!--Start single price box-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="package">
                            <h1><span>$</span>99<b>/Mo</b></h1>
                        </div>
                    </div>
                    <div class="price-list">
                        <div class="pack-name">
                            <h3>Ultimate Pack</h3>
                        </div>
                        <ul>
                            <li>Nail Cutting and styling</li>
                            <li>Spa Therapy with manicure</li>
                            <li>Foot massage</li>
                            <li>Hair Coloring & Styling</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="thm-btn" href="#">BUY NOW</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->
        </div>
    </div>    
</section>
<!--End pricing plan area-->

<!--Start latest blog area-->  
<section class="latest-blog-area sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top">
                <div class="sec-title pull-left">
                    <h1>Latest From Blog</h1>
                    <div class="border">
                        <span class="flaticon-shape"></span>    
                    </div>
                </div>
                <div class="readmore-blog pull-right">
                    <a class="thm-btn bgclr-1" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="assets/blog/latest-blog-1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one"></div>
                        <div class="categories">
                            <a href="#">Massage</a>
                        </div> 
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><a href="#">April 21, 2017</a></li>
                            <li><a href="#">10 Comments</a></li>
                        </ul>
                        <a href="blog-single.html">
                            <h3 class="blog-title">Massage thereaphy for managing work place stress</h3>
                        </a>
                        <div class="text">
                            <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                        </div>
                    </div>    
                </div>    
            </div>
            <!--End single blog item-->
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="assets/blog/latest-blog-2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one"></div>
                        <div class="categories">
                            <a href="#">Wellness</a>
                        </div> 
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><a href="#">February 05, 2017</a></li>
                            <li><a href="#">24 Comments</a></li>
                        </ul>
                        <a href="blog-single.html">
                            <h3 class="blog-title">When massage may not be a good idea for you</h3>
                        </a>
                        <div class="text">
                            <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                        </div>
                    </div>    
                </div>    
            </div>
            <!--End single blog item-->
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="assets/blog/latest-blog-3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one"></div>
                        <div class="categories">
                            <a href="#">Massage</a>
                        </div> 
                    </div>
                    <div class="text-holder">
                        <ul class="meta-info">
                            <li><a href="#">January 14, 2017</a></li>
                            <li><a href="#">18 Comments</a></li>
                        </ul>
                        <a href="blog-single.html">
                            <h3 class="blog-title">New theraphy center opened at california</h3>
                        </a>
                        <div class="text">
                            <p>pleasure and praising pain was born I will give you a complete account of the system, and expound actual teachings great.</p>
                        </div>
                    </div>    
                </div>    
            </div>
            <!--End single blog item-->
        </div>
    </div>
</section>
<!--End latest blog area-->

<!--Start footer area-->  
<footer class="footer-area">
    <div class="arrow">
        <img src="assets/resources/arrow.png" alt="">
    </div>
    <div class="footer-image-box">
        <img src="assets/footer/footer-image.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-logo text-center">
                    <a href="index.html">
                        <img src="assets/footer/footer-logo.png" alt="Awesome Footer Logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Quick Contact</h3>
                        <span class="border"></span>
                    </div>
                    <div class="our-info">
                        <p>Life Care brings 41 years of interior designs experience right to your home or office. Our design professionals.</p>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-location"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Address: 121, Park Drive, Varick<br>Str, New York, NY 10012, USA</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Phone: (123) 0200 12345</h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Email: Mailus@Dailyspanz.com</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Usefull Links</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="usefull-links fl-lft">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Procedures</a></li>
                        <li><a href="#">News & Tips</a></li>
                        <li><a href="#">Threrapists</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">FAQ’s</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <ul class="usefull-links">
                        <li><a href="#">Pricing Plans</a></li>
                        <li><a href="#">Healthy Foods</a></li>
                        <li><a href="#">Get Offers</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Certificates</a></li>
                        <li><a href="#">Qualifications</a></li>
                        <li><a href="#">Private Policy</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-bottom">
                    <div class="title">
                        <h3>Popular Post</h3>
                    </div>
                    <ul class="latest-post">
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="assets/footer/latest-news-1.png" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Spas & the psychology of<br>well-being...</a>
                                <div class="post-info">
                                    <span>August 24, 2017</span>
                                </div>
                            </div>
                        </li>
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="assets/footer/latest-news-2.png" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Two massages are better<br>than one...</a>
                                <div class="post-info">
                                    <span>February 05, 2017</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="more-news">
                        <a href="blog-default.html">More News <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--Start single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Subscribe Us</h3>
                    </div>
                    <div class="newsletter-box">
                        <p>Subscribe to our newsletter!</p>
                        <form class="newsletter-form" action="#">
                            <input placeholder="Email Address" type="text">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="envelope">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Opening Hours</h3>
                    </div>
                    <ul class="working-hours">
                        <li>Mon-FriDay: <span>9.00 to 18.00</span></li>
                        <li>Saturday: <span>9.00 to 18.00</span></li>
                        <li>Sunday: <span class="closed">Closed</span></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>   
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Life Care.</a></p> 
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End footer bottom area-->

