
<!--Start footer area-->  
<footer class="footer-area">
    <div class="arrow">
        <img src="assets/resources/arrow.png" alt="">
    </div>
    <div class="footer-image-box">
        <img src="assets/footer/footer-image.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-logo text-center">
                    <a href="index.html">
                        <img src="assets/footer/footer-logo.png" alt="Awesome Footer Logo">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Quick Contact</h3>
                        <span class="border"></span>
                    </div>
                    <div class="our-info">
                        <p>Life Care brings 41 years of interior designs experience right to your home or office. Our design professionals.</p>
                    </div>
                    <ul class="footer-contact-info">
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-location"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Address: <%= ADDRESS%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Phone: <%= PHONE%></h5>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-note"></span>
                            </div>
                            <div class="text-holder">
                                <h5>Email: <%= EMAIL%></h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget pd-bottom50">
                    <div class="title">
                        <h3>Usefull Links</h3>
                        <span class="border"></span>
                    </div>
                    <ul class="usefull-links fl-lft">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Procedures</a></li>
                        <li><a href="#">News & Tips</a></li>
                        <li><a href="#">Threrapists</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">FAQ’s</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                    <ul class="usefull-links">
                        <li><a href="#">Pricing Plans</a></li>
                        <li><a href="#">Healthy Foods</a></li>
                        <li><a href="#">Get Offers</a></li>
                        <li><a href="#">Appointment</a></li>
                        <li><a href="#">Certificates</a></li>
                        <li><a href="#">Qualifications</a></li>
                        <li><a href="#">Private Policy</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget mar-bottom">
                    <div class="title">
                        <h3>Popular Post</h3>
                    </div>
                    <ul class="latest-post">
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="assets/footer/latest-news-1.png" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Spas & the psychology of<br>well-being...</a>
                                <div class="post-info">
                                    <span>August 24, 2017</span>
                                </div>
                            </div>
                        </li>
                        <li class="single-post">
                            <div class="img-holder">
                                <img src="assets/footer/latest-news-2.png" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <a class="post-title" href="#">Two massages are better<br>than one...</a>
                                <div class="post-info">
                                    <span>February 05, 2017</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="more-news">
                        <a href="blog-default.html">More News <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <!--Start single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Subscribe Us</h3>
                    </div>
                    <div class="newsletter-box">
                        <p>Subscribe to our newsletter!</p>
                        <form class="newsletter-form" action="#">
                            <input placeholder="Email Address" type="text">
                            <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="envelope">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="single-footer-widget clearfix">
                    <div class="title">
                        <h3>Opening Hours</h3>
                    </div>
                    <ul class="working-hours">
                        <li>Mon-FriDay: <span>9.00 to 18.00</span></li>
                        <li>Saturday: <span>9.00 to 18.00</span></li>
                        <li>Sunday: <span class="closed">Closed</span></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>   
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Life Care.</a></p> 
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End footer bottom area-->