
 <!--Start top bar area-->
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="top-left">
                    <ul>
                        <li><span class="flaticon-technology"></span>Phone: <%= PHONE%></li>
                        <li><span class="flaticon-note"></span>Email: <%= EMAIL%></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="top-right clearfix">
                    <ul class="location">
                        <li><span class="flaticon-location"></span> <%= ADDRESS%></li>
                    </ul>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End top bar area-->       

<!--Start mainmenu area-->
<section class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--Start logo-->
                <div class="logo">
                    <a href="/">
                       <img class="logo-image" src="assets/resources/logo.png" alt="">
                    </a>
                </div>
                <!--End logo-->
                <!--Start mainmenu-->
                <nav class="main-menu clearfix">
                    <div class="navbar-header">     
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse clearfix">
                        <!--Start nav container nav left-->
                        <div class="nav-container nav-left">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Home</a></li>
                                <li class="dropdown"><a href="/about">About Us</a>
                                    <ul>
                                        <li><a href="about">About Daily Spanz</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="faq.html">FAQ’s</a></li>
                                        <li><a href="appointment.html">Make an Appointment</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="procedures.html">Procedures</a>
                                    <ul>
                                        <li><a href="massage-therapy.html">Massage Therapy</a></li>
                                        <li><a href="facial-treatments.html">Facial Treatments</a></li>
                                        <li><a href="pedicure-menicure.html">Pedicure & Menicure</a></li>
                                        <li><a href="salt-oil-bath.html">Salt and Oil Bath</a></li>
                                        <li><a href="perfect-makeup.html">Perfect Makeup</a></li>
                                        <li><a href="hair-treatments.html">Hair Treatments</a></li>
                                    </ul>
                                </li>
                                <li><a href="therapists.html">Therapists</a></li>
                            </ul>    
                        </div>
                        <!--End nav container nav left-->
                        <!--Start nav container nav right-->
                        <div class="nav-container nav-right">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="blog-default.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-default.html">Blog Default</a></li>
                                        <li><a href="blog-large.html">Blog Large</a></li>
                                        <li><a href="blog-single.html">Blog Single Post</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="gallery-grid.html">Gallery</a>
                                    <ul>
                                        <li><a href="gallery-grid.html">Gallery Grid View</a></li>
                                        <li><a href="gallery-without-grid.html">Gallery Without Grid</a></li>
                                        <li><a href="gallery-single.html">Gallery Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/index">Shop</a>
                                    <ul>
                                        <li><a href="shop.html">Shop Products</a></li>
                                        <li><a href="shop-single.html">Products Single</a></li>
                                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="account.html">My Account</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>    
                        </div>
                        <!--End nav container nav right-->
                    </div>
                </nav>
                <!--End mainmenu-->
                <!--Start outer serach box-->
                <div class="outer-search-box">
                    <div class="seach-toggle"><i class="fa fa-search"></i></div>
                    <ul class="search-box">
                        <li>
                            <form method="post" action="index.html">
                                <div class="form-group">
                                    <input type="search" name="search" placeholder="Search Here" required>
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!--End outer serach box-->
                <div class="arrow">
                    <img src="assets/resources/arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End mainmenu area-->
